.App {
  text-align: center;
}

.App-logo {
  max-height: 65%;
}

.App-header {
  background-color: #FFF;
  height: 82px;
  -webkit-box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
  -moz-box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
  box-shadow: 0 0 7px rgba(0,0,0,.1)!important;
}

.App-header-container {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  height: 100%;  
  display: flex;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table, th, td {
  border: 1px solid black;
}
